{% extends 'clientheader.html' %}
{% load staticfiles %}
{% block content %}
	<!-- MAIN SLIDER START -->
	<div class="main-silder res-padd-lr90">
		<div class="container-fluid">
			<div class="rev_slider_wrapper rev-slider-box-arrow2">
				<!-- START REVOLUTION SLIDER 5.0 auto mode -->
				<div id="rev_slider_1" class="rev_slider"  data-version="5.2.0">
					<ul>
						<!-- SLIDE 1 -->
						<li data-transition="fade">

							<!-- MAIN IMAGE -->
							<img src="{% static 'images/slider/02.jpeg' %}"  alt="" data-bgfit="cover" class="rev-slidebg" data-no-retina>

							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
								id="slide-1-layer-1"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['770','770','700','300']"
								data-height="'360','360','360','360']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
								data-transform_out="s:1000;s:1000;"
								data-start="1000"
								data-basealign="slide"
								data-responsive_offset="on"

								data-lasttriggerstate="reset"
								style="z-index: 2; background-color:rgba(255, 255, 255, .88); ">
							</div>

							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
								id="slide-1-layer-2"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['730','730','650','250']"
								data-height="'300','300','300','300']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
								data-transform_out="s:1000;s:1000;"
								data-start="1000"
								data-basealign="slide"
								data-responsive_offset="on"

								data-lasttriggerstate="reset"
								style="z-index: 3; border: 1px solid;">
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme slider-subtitle"
								id="slide-1-layer-3"
								data-x="['center','center','center','center']"
								data-hoffset="['0','0','0','0']"
								data-y="['center','center','center','center']"
								data-voffset="['-50','-50','-50','-30']"
								data-width="['auto','auto','auto','auto']"
								data-height="['auto','auto','auto','auto']"
								data-fontsize="['24','24','20','20']"
								data-lineheight="['65','65','30','30']"
								data-whitespace="['nowrap','nowrap','nowrap','nowrap']"
								data-transform_idle="o:1;"

								data-transform_in="y:bottom;s:1500;e:Power4.easeOut;"
								data-transform_out="y:top;s:500;e:Power2.easeIn;s:500;e:Power2.easeIn;"
								data-start="2500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								data-responsive="on"

								style="z-index: 5; font-size: 24px; line-height: 65px; font-weight: 400; font-family: 'Playfair Display', serif; text-align: center; color: #a8a8a8;">We will
							</div>

							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-resizeme slider-subtitle"
								id="slide-1-layer-4"
								data-x="['center','center','center','center']"
								data-hoffset="['0','0','0','0']"
								data-y="['center','center','center','center']"
								data-voffset="['0','0','0','0']"
								data-width="['auto','auto','auto','auto']"
								data-height="['auto','auto','auto','auto']"
								data-fontsize="['78','50','40','24']"
								data-lineheight="['135','60','50','40']"
								data-whitespace="['nowrap','nowrap','nowrap','nowrap']"
								data-transform_idle="o:1;"

								data-transform_in="y:bottom;s:1500;e:Power4.easeOut;"
								data-transform_out="y:top;s:500;e:Power2.easeIn;s:500;e:Power2.easeIn;"
								data-start="2500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								data-responsive="on"

								style="z-index: 7; white-space: nowrap; font-family: 'Playfair Display', serif; font-weight: 700; text-align: center; font-style: italic; color: #000000;">Capture
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme slider-subtitle"
								id="slide-1-layer-5"
								data-x="['center','center','center','center']"
								data-hoffset="['0','0','0','0']"
								data-y="['center','center','center','center']"
								data-voffset="['110','65','60','40']"
								data-width="['auto','auto','auto','auto']"
								data-height="['auto','auto','auto','auto']"
								data-fontsize="['24','24','20','20']"
								data-lineheight="['65','65','30','30']"
								data-whitespace="['nowrap','nowrap','nowrap','nowrap']"
								data-transform_idle="o:1;"

								data-transform_in="y:bottom;s:1500;e:Power4.easeOut;"
								data-transform_out="y:top;s:500;e:Power2.easeIn;s:500;e:Power2.easeIn;"
								data-start="2500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								data-responsive="on"

								style="z-index: 5; font-weight: 400; font-family: 'Playfair Display', serif; text-align: center; color: #a8a8a8;">all of your celebration.
							</div>
						</li>
						<!-- SLIDE 2 -->
						<li data-transition="fade">

							<!-- MAIN IMAGE -->
							<img src="{% static 'images/slider/04.jpeg' %}"  alt="" data-bgfit="cover" class="rev-slidebg" data-no-retina>

							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
								id="slide-2-layer-1"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['770','770','700','300']"
								data-height="'360','360','360','360']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
								data-transform_out="s:1000;s:1000;"
								data-start="1000"
								data-basealign="slide"
								data-responsive_offset="on"

								data-lasttriggerstate="reset"
								style="z-index: 2; background-color:rgba(255, 255, 255, .88); ">
							</div>

							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
								id="slide-2-layer-2"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="['730','730','650','250']"
								data-height="'300','300','300','300']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
								data-transform_out="s:1000;s:1000;"
								data-start="1000"
								data-basealign="slide"
								data-responsive_offset="on"

								data-lasttriggerstate="reset"
								style="z-index: 3; border: 1px solid;">
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme slider-subtitle"
								id="slide-2-layer-3"
								data-x="['center','center','center','center']"
								data-hoffset="['0','0','0','0']"
								data-y="['center','center','center','center']"
								data-voffset="['-50','-50','-50','-30']"
								data-width="['auto','auto','auto','auto']"
								data-height="['auto','auto','auto','auto']"
								data-fontsize="['24','24','20','20']"
								data-lineheight="['65','65','30','30']"
								data-whitespace="['nowrap','nowrap','nowrap','nowrap']"
								data-transform_idle="o:1;"

								data-transform_in="y:bottom;s:1500;e:Power4.easeOut;"
								data-transform_out="y:top;s:500;e:Power2.easeIn;s:500;e:Power2.easeIn;"
								data-start="2500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								data-responsive="on"

								style="z-index: 5; font-size: 24px; line-height: 65px; font-weight: 400; font-family: 'Playfair Display', serif; text-align: center; color: #a8a8a8;">We will
							</div>

							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-resizeme slider-subtitle"
								id="slide-2-layer-4"
								data-x="['center','center','center','center']"
								data-hoffset="['0','0','0','0']"
								data-y="['center','center','center','center']"
								data-voffset="['0','0','0','0']"
								data-width="['auto','auto','auto','auto']"
								data-height="['auto','auto','auto','auto']"
								data-fontsize="['78','50','40','24']"
								data-lineheight="['135','60','50','40']"
								data-whitespace="['nowrap','nowrap','nowrap','nowrap']"
								data-transform_idle="o:1;"

								data-transform_in="y:bottom;s:1500;e:Power4.easeOut;"
								data-transform_out="y:top;s:500;e:Power2.easeIn;s:500;e:Power2.easeIn;"
								data-start="2500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								data-responsive="on"

								style="z-index: 7; white-space: nowrap; font-family: 'Playfair Display', serif; font-weight: 700; text-align: center; font-style: italic; color: #000000;">Capture
							</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme slider-subtitle"
								id="slide-2-layer-5"
								data-x="['center','center','center','center']"
								data-hoffset="['0','0','0','0']"
								data-y="['center','center','center','center']"
								data-voffset="['110','65','60','40']"
								data-width="['auto','auto','auto','auto']"
								data-height="['auto','auto','auto','auto']"
								data-fontsize="['24','24','20','20']"
								data-lineheight="['65','65','30','30']"
								data-whitespace="['nowrap','nowrap','nowrap','nowrap']"
								data-transform_idle="o:1;"

								data-transform_in="y:bottom;s:1500;e:Power4.easeOut;"
								data-transform_out="y:top;s:500;e:Power2.easeIn;s:500;e:Power2.easeIn;"
								data-start="2500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								data-responsive="on"

								style="z-index: 5; font-weight: 400; font-family: 'Playfair Display', serif; text-align: center; color: #a8a8a8;">all of your celebration.
							</div>
						</li>
					</ul>
				</div>
			</div><!-- END REVOLUTION SLIDER -->
		</div>
	</div>
	<!-- MAIN SLIDER END -->

	<!-- SERVICE START -->
	<div id="service" class="service-section m-tb100 res-padd-lr90">
		<div class="container-fluid">
			<div class="row">
				{% for cts in c %}
				<div class="col-md-3">
					<article class="service-single">

						<h2 class="sub-title">{{cts.c_name}}</h2>
						<p>
							{{cts.c_desc}}
						</p>

						<figure>
							<img src="{% static 'img/' %}{{cts.image_path}}" alt="service">
							<figcaption>
								<a href="/client/services/">Get Service</a>
							</figcaption>
						</figure>
						<a href="/client/viewcategory/{{cts.c_id}}" class="read-more pull-right">VIEW MORE</a>

					</article> <!-- /.service-single -->
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- SERVICE END -->

	<!-- ACHIEVEMENT START -->
	<div id="achievement" class="achievement-section bg-img1 p-tb100">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<div class="achievement-single">
						<div class="media-left">
							<i class="fa fa-user fa-5x" style="color:gray"></i>
						</div>
						<div class="media-body">
							<h2 class="title"><span class="counter">{{user}}</span>+</h2>
							<h6 class="info">Users</h6>
						</div>
					</div> <!-- /.achievement-single -->
				</div>
				<div class="col-md-3 col-sm-12">
					<div class="achievement-single">
						<div class="media-left">
							<i class="fa fa-comments-o fa-5x" style="color:gray"></i>
						</div>
						<div class="media-body">
							<h2 class="title"><span class="counter">{{fd}}</span>+</h2>
							<h6 class="info">Feedback</h6>
						</div>
					</div> <!-- /.achievement-single -->
				</div>
				<div class="col-md-3 col-sm-12">
					<div class="achievement-single">
						<div class="media-left">
							<i class="fa fa-gift fa-5x" style="color:gray"></i>
						</div>
						<div class="media-body">
							<h2 class="title"><span class="counter">{{pk}}</span>+</h2>
							<h6 class="info">Packages</h6>
						</div>
					</div> <!-- /.achievement-single -->
				</div>
				<div class="col-md-3 col-sm-12">
					<div class="achievement-single">
						<div class="media-left">
							<i class="fa fa-camera fa-5x" style="color:gray"></i>
						</div>
						<div class="media-body">
							<h2 class="title"><span class="counter">{{ph}}</span>+</h2>
							<h6 class="info">Photographer</h6>
						</div>
					</div> <!-- /.achievement-single -->
				</div>
			</div>
		</div>
	</div>
	<!-- ACHIVEMENT END -->

	<!-- GALLERY START -->
	<div id="gallery" class="gallery-section m-tb100 res-padd-lr90">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12  m-b60">
					<span class="section-title pull-left">OUR GALLERY</span>
					<span class="section-sub-title pull-right">We will <span>Capture</span> all of your celebration.</span>
				</div>
				<div class="col-md-3 col-sm-12">
					<div class="gallery-single">
						<div class="thumb">
							<img src="{% static 'img/andrey-zvyagintsev-3OmR8b60rUY-unsplash.jpg' %}" alt="gallery">
							<a href="{% static 'img/andrey-zvyagintsev-3OmR8b60rUY-unsplash.jpg' %}" class="image-large">
								<div class="caption">
									<h2 class="title">Fashion.</h2>
									<span class="info">Photography</span>
								</div>
							</a>
						</div>
					</div><!-- /.gallery-single -->
				</div>

				<div class="col-md-3 col-sm-12">
					<div class="gallery-single">
						<div class="thumb">
							<img src="{% static 'img/amish-thakkar-pf0d6eJl6_E-unsplash.jpg' %}" alt="gallery">
							<a href="{% static 'img/amish-thakkar-pf0d6eJl6_E-unsplash.jpg' %}" class="image-large">
								<div class="caption">
									<h2 class="title">Wedding.</h2>
									<span class="info">Photography </span>
								</div>
							</a>
						</div>
					</div><!-- /.gallery-single -->
				</div>

				<div class="col-md-3 col-sm-12">
					<div class="gallery-single">
						<div class="thumb">
							<img src="{% static 'img/IMG-20200319-WA0026.jpg' %}" alt="gallery">
							<a href="{% static 'img/IMG-20200319-WA0026.jpg' %}" class="image-large">
								<div class="caption">
									<h2 class="title">Sports.</h2>
									<span class="info">Photography </span>
								</div>
							</a>
						</div>
					</div><!-- /.gallery-single -->
				</div>

				<div class="col-md-3 col-sm-12">
					<div class="gallery-single">
						<div class="thumb">
							<img src="{% static 'img/sorasak-8ZAxI5FwjFo-unsplash.jpg' %}" alt="gallery">
							<a href="{% static 'img/sorasak-8ZAxI5FwjFo-unsplash.jpg' %}" class="image-large">
								<div class="caption">
									<h2 class="title">Nature.</h2>
									<span class="info">Photography </span>
								</div>
							</a>
						</div>
					</div><!-- /.gallery-single -->
				</div>

			</div>
		</div>
	</div>
	<!-- GALLERY END -->

	<!-- TEAM START -->
	<div id="team" class="team-section m-b100">
		<div class="container">
			<div class="row">
				<div class="col-md-12 m-b60">
					<span class="section-title  pull-left">OUR TEAM</span>
					<span class="section-sub-title pull-right">We are <span>honest</span> working team.</span>
				</div>
                {% for photo in phs %}
				<div class="col-md-4">
					<div class="team-single">
						 <div class="post-thumb">
						 	<img src="{% static 'img/' %}{{photo.p_image}}" alt="team">
						 </div>
						 <div class="post-desk">
						 	<div class="post-meta">
						 		<h4 class="title">{{photo.p_name}}</h4>
						 		<span class="info"></span><br>
						 	</div>
						 	<p>
						 		{{photo.p_desc}}
						 	</p>
						 </div>
					</div> <!-- /.team-single -->
				</div>
                {% endfor %}

			</div>
		</div>
	</div>
	<!-- TEAM END -->

	<!-- TESTIMONIAL START -->
	<div class="testimonial-section bg-img2">
		<div class="outer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="testimonial-slider-two">
							<div class="carousel slide" data-ride="carousel" id="quote-carousel">
								<!-- Bottom Carousel Indicators -->
								<!-- Carousel Slides / Quotes -->
								<div class="carousel-inner text-center testimonial-slider-content">
									<div class="item testimonial-slider-item active">
										<div class="row">
											<div class="col-md-12">
												<div class="slider-content-wrap">
													<div class="queto-symbol">
														<span>,,</span>
													</div>
													<p>
														Good customer services and The photographer were very professional.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="item testimonial-slider-item">
										<div class="row">
											<div class="col-md-12">
												<div class="slider-content-wrap">
													<div class="queto-symbol">
														<span>,,</span>
													</div>
													<p>
														Photographer's work is very professional. And they provide good customer services.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="item testimonial-slider-item">
										<div class="row">
											<div class="col-md-12">
												<div class="slider-content-wrap">
													<div class="queto-symbol">
														<span>,,</span>
													</div>
													<p>
														Thank You, for the provide very good nd professional photographer and their photography is very nice.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><!-- /.testimonial-slider -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- TESTIMONIAL END -->

	<!-- PRICING START -->
	<div id="pricing" class="pricing-section m-tb120">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header m-b60">
						<h2 class="title">Plan Pricing</h2>
						<p class="sub-title">
							Appropriately engage strategic communities rather than enterprise-wide supply chains. Completely impact distinctive testing procedures without front-end interfaces.
						</p>
					</div>
				</div>
				<!-- price table start here -->
				{% for pkgs in pkg %}
				<div class="col-md-4 nopadding">
					<div class="price-table price-bg-1">
						<div class="overlay">
							<div class="header">
								<span class="plan-name">{{pkgs.pk_name}}</span>
								<h2 class="price">{{pkgs.pk_amount}}<i class="fa fa-rupee"></i></h2>
								<span class="plan-limit"></span>
							</div>
							<ul class="list">
								<li>{{pkgs.pk_desc | wordwrap:40 | linebreaksbr}}</li>
								<li>{{pkgs.c_id.c_name}}</li>
							</ul><br><br>
							<div class="col-md-12 text-center">
								<form action="/client/bookingpackage/{{pkgs.pk_id}}/{{pkgs.pk_amount}}" method="post">
								{% csrf_token %}
									<input type="submit" class="btn-dark" value="BOOKING"/>
								</form>
							</div>
						</div>
					</div><!-- /.price-table -->
				</div>
				{% endfor %}


			</div>
		</div>
	</div>
	<!-- PRICING END -->
{% endblock %}