{% extends 'clientheader.html' %}
{% load staticfiles %}
{% block content %}
	<!-- PAGE TITLE START -->
	<div class="page-title">
		<h2>Gallery</h2>
	</div>
	<!-- PAGE TITLE END -->

	<!-- GALLERY START -->
	<div id="gallery" class="m-tb80">
				<div class="container">
					<div class="container">
						<div class="container">
							<div class="container">
								<div class="container">
									<div class="container">
										<div class="container">
											<div class="container">
												<div class="container">
													<div class="container">
            				<img style="height:500px;width:800px" src="{% static 'images/gray.png' %}" alt="gallery">

					</div><!-- /.end item --><br>

						<a href="{% static 'images/gray.png' %}" download><input type="button" style="font-size:200%;height:50px" class="btn-dark" value="DOWNLOAD"></a>
					</div>
											</div>
										</div>
									</div>
								</div>
							</div>
            			</div>
					</div>
	</div>
	</div>
	<!-- GALLERY END -->


{% endblock %}