{% extends 'header.html' %}

{% block content %}
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
 <!---728x90--->
<td><a href="/packageinsert">INSERT DATA</a></td>
    <div class="panel-heading">
     Package table
    </div>
    <div>

      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>

        <thead>
          <tr>
            <th data-breakpoints="xs">ID</th>
            <th>Name</th>
            <th>Description</th>
            <th data-breakpoints="xs">Amount</th>
            <th data-breakpoints="xs sm md" data-title="DOB">Category</th>
            <th data-breakpoints="xs sm md" data-title="DOB">Action</th>
              <th data-breakpoints="xs sm md" data-title="DOB">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for pks in package %}
          <tr data-expanded="true">
            <td>{{pks.pk_id}}</td>
            <td>{{pks.pk_name}}</td>
            <td>{{pks.pk_desc}}</td>
            <td>{{pks.pk_amount}}</td>
            <td>{{pks.c_id.c_name}}</td>
              <td><a href="/packagedelete/{{pks.pk_id}}">DELETE</a></td>
            <td><a href="/packageupdate/{{pks.pk_id}}">EDIT</a></td>
          </tr>
        {% endfor %}


        </tbody>
      </table>
    </div>
	<!---728x90--->
  </div>
</div>
{% endblock %}
